node_modules
.env
.env.local
.env.*.local
dist
*.log
.DS_Store
.vscode/*
!.vscode/settings.json
coverage
.prisma
.env.development.local
.env.test.local
.env.production.local
.idea/
*.swp
*.swo
*~
.cache
